@use "../../sass/variables.scss" as *;

.subscription{
    position: relative;
    top: 0;
    text-align: center;
    display: grid;
    
    .subscription__header{
        font-family: "Basement";
        text-transform: uppercase;
        text-align: left;
        margin-left: 5%;
    }
    .subscription__user-container{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        padding: 5% 5%;
        .subscription__user-container__img{
            height: 80%;
            object-fit: contain;
            border-radius: 50%;
        }
        .subscription__user-container__details{
            padding-right: 5%;
            padding-left: 5%;
            font-size: 1.2rem;
            line-height: 2rem;
            .subscription__user-container__details__detail{
                text-align: left;
                .subscription__user-container__details__detail__key{
                    display: inline;
                }
                .subscription__user-container__details__detail__value{
                    display: inline;
                    font-weight: bold;
                    margin-left: 10px;
                }
            }
        }
    }
    
    .subscription__user-container__details__buttons{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .subscription__user-container__details__buttons__button{
            background-color: transparent;
            color: $darkgrey;
            font-family: "Arial";
            border-radius: 0;
            text-transform: uppercase;
            box-shadow: none;
            border: 1px solid $lightgrey;
            margin-bottom: 10px;
            padding: 5px 50px;
            font-weight: bold;
            text-decoration: none;
        }
        .subscription__user-container__details__buttons__button:hover{
            color: $threetonered;
            cursor: pointer;
        }
    }
}