@use "../../sass/variables.scss" as *;

.flip-button{
    visibility: hidden;
}
.tape-product--front, .tape-product--back, .tape-product--back--centered, .tape-product--front--centered{
    flex-shrink: 0;
    flex-basis: 30%;
    //flex: 1;
    width: 30%;
    //height: 240px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    transition: all 0.5s ease;
    //margin-left: 2.5%;
    //margin-right: 2.5%;
    transform: scale(0.75);
    .flip-button{
        visibility: visible;
        position: absolute;
        background-color: transparent;
        color: white;
        font-weight: bold;
        bottom: 33.9%;
        right: 7%;
        width: 85.3%;
        height: 13.1%;
        bottom: 28.1%;
        font-size: 7px;
        border: none;
        border-radius: 5px;
        .flip-button__text{
            text-transform: uppercase;
            font-style: italic;
            color: black;
            font-size: 3.4vw;// 2.3rem;
            margin: 0;
            margin-top: 0.5%;
            height: 100%;
            width: 100%;
            padding-left: 7%;
        }
    }
    .flip-button:hover{
        cursor: pointer;
        //color: $threetonered;
        //background-color: $threetonered;
        //opacity: 50%;
        .flip-button__text{
            color: $threetonered;
        }
    }
}
.tape-product--back--centered, .tape-product--front--centered:hover{
    transform: scale(0.9);
    .tape-product__teeth{
        //animate
    }
}
.tape-product--back, .tape-product--back--centered{
    //transition: transform 0.5s ease;
    //transform: scale(1.35);
    .flip-button{
        visibility: visible;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        border: none;
    }
    .flip-button:hover{
        opacity: 0%;
    }
}
.tape-product::marker{
    color: transparent;
}
.product-front--visible{
    position: absolute;
    transition: all .3s ease-in;
    width: 100%;
    object-fit: contain;
}
.product-front--hidden{
    position: absolute;
    transition: all .1s ease-in;
    transform: rotateY(-90deg);
    width: 100%;
    object-fit: contain;
    //display: none;
    //visibility: hidden;
}
.product-back--visible{
    transition: all .3s ease-in;
    width: 100%;
    object-fit: contain;
    .flip-button{
        height: 100%;
        width: 100%;
    }
}
.product-back--hidden{
    transition: all .1s ease-in;
    transform: rotateY(90deg);
    width: 100%;
    object-fit: contain;
    //display: none;
    //visibility: hidden
}
